@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
     <!--
      * Package: Complete Admin - Responsive Theme
      * Subpackage: Bootstrap
      * Version: BS4-1.0
      * This file is part of Complete Admin Theme.
     -->
     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
     <meta charset="utf-8" />
     <title>Complete Admin : Hospital</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
     <meta content="" name="description" />
     <meta content="" name="author" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <link rel="shortcut icon" href="Template/assets/images/favicon.png" type="image/x-icon" />    <!-- Favicon -->
     <link rel="apple-touch-icon-precomposed" href="Template/assets/images/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
     <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Template/assets/images/apple-touch-icon-114-precomposed.png">    <!-- For iPhone 4 Retina display -->
     <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Template/assets/images/apple-touch-icon-72-precomposed.png">    <!-- For iPad -->
     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Template/assets/images/apple-touch-icon-144-precomposed.png">    <!-- For iPad Retina display -->

     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/plugins/css")
     @Styles.Render("~/bundles/core/css")

     @if (IsSectionDefined("Styles"))
     {
          @RenderSection("Styles", required: false)
     }
</head>
<body>
     <div class="page-topbar">
          @Html.Partial("_TopBar")
     </div>

     <div class="page-container row-fluid container-fluid">
          <div class="page-sidebar pagescroll">
               @Html.Partial("_SideBar")
          </div>

          <section id="main-content">
               @Html.Partial("Book_Appointment/_MainContent")
          </section>

          <div class="page-chatapi hideit">
               @Html.Partial("_ChatApi")
          </div>
          @RenderBody()
     </div>

     @Scripts.Render("~/bundles/jquery/js")
     @Scripts.Render("~/bundles/core/js")
     @Scripts.Render("~/bundles/other/js")
     @Scripts.Render("~/bundles/custom/js")

     @RenderSection("scripts", required: false)
</body>
</html>
