@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
     <!--
      * Package: Complete Admin - Responsive Theme
      * Subpackage: Bootstrap
      * Version: BS4-1.0
      * This file is part of Complete Admin Theme.
     -->
     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
     <meta charset="utf-8" />
     <title>Book Appointment</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
     <meta content="" name="description" />
     <meta content="" name="author" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     

     <link href="~/Template/aditional/sweetalert/css/sweetalert2.min.css" rel="stylesheet" />
     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/plugins/css")
     @Styles.Render("~/bundles/core/css")

     @if (IsSectionDefined("Styles"))
     {
          @RenderSection("Styles", required: false)
     }
</head>
<body>
    <div class="page-topbar">
        @Html.Partial("_TopBar")
    </div>

    <div class="page-container row-fluid container-fluid">
        <div class="page-sidebar pagescroll">
            @Html.Partial("_SideBar")
        </div>

        <section id="main-content-others">
            @Html.Partial("Book_Appointment/_MainContent")
        </section>

        <div class="page-chatapi hideit">
            @Html.Partial("_ChatApi")
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/core/js")
    @Scripts.Render("~/bundles/other/js")
    @Scripts.Render("~/bundles/custom/js")

    <script src="~/Scripts/myScript.js"></script>
    <script src="~/Template/aditional/sweetalert/js/sweetalert2.min.js"></script>
    <script src="~/Template/aditional/sweetalert/js/sweet-alerts.init.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>