@using System.Web.Optimization
@model ProjectTW.Web.Models.UserData

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card">

                <div class="card-body p-4">

                    <div class="text-center w-75 m-auto">
                        <a>
                            <span><img src="~/Template/assets/images/logo-med.png" alt="" height="150"></span>
                        </a>
                        <p class="text-muted mb-4 mt-3">Enter your email address and password to access admin panel.</p>
                    </div>

                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @action = "#" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.Credential, new { @for = "emailaddress" })
                            @Html.TextBoxFor(m => m.Credential, new
                        {
                            placeholder = "Enter your email",
                            id = "emailaddress",
                            @class = "form-control"
                        })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.Password, new { @for = "password" })
                            @Html.TextBoxFor(m => m.Password, new
                            {
                                placeholder = "Enter your password",
                                type = "password",
                                id = "password",
                                @class = "form-control"
                            })
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                        </div>
                    }
                    </div> <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p class="text-muted">Don't have an account? @Html.ActionLink("Sign Up", "Index", "Register")</p>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>