@using System.Web.Optimization;
@model ProjectTW.Web.Models.GlobalData

<!-- MAIN MENU - START -->
<div class="page-sidebar-wrapper" id="main-menu-wrapper">

    <!-- USER INFO - START -->
    <div class="profile-info row">

        <div class="profile-image col-4">
            <a href="">
                @if (Model != null && Model.ProfileImagePath != null)
                {
                    <img alt="" src="@Model.ProfileImagePath.Substring(1)" class="img-fluid rounded-circle">
                }
                else
                {
                    <img alt="" src="~/ProfileImages/Default_ProfileImage.png" class="img-fluid rounded-circle">
                }
            </a>
        </div>

        <div class="profile-details col-8">

            <h3>
                <a href="">@if (Model != null)
                {@Html.DisplayFor(u => u.FullName)}</a>

                <!-- Available statuses: online, idle, busy, away and offline -->
                <span class="profile-status online"></span>
            </h3>

            <p class="profile-title">
                @if (@Model != null)
                {@Model.Level} @if (@Model != null && Model.Level == ProjectTW.Domain.Enums.UserRole.Doctor){@Model.Speciality}
            </p>

        </div>

    </div>
    <!-- USER INFO - END -->



    <ul class='wraplist'>


        <li class="open">
            <a href="Home">
                <i class="fa fa-dashboard"></i>
                <span class="title">Home</span>
            </a>
        </li>
        @if (Model != null && Model.Level == ProjectTW.Domain.Enums.UserRole.Admin)
        {
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-user-md"></i>
                    <span class="title">Doctors</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("All Doctors", "Index", "AllDoctors")
                    </li>
                    <li>
                        @Html.ActionLink("Add Doctor", "Index", "DoctorAdd")
                    </li>
                    <li>
                        @Html.ActionLink("Delete Doctor", "Index", "DoctorDelete")
                    </li>
                </ul>

            </li>
        }
        @if ((Model != null && Model.Level != ProjectTW.Domain.Enums.UserRole.Patient))
        {
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">Patients</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("All Patients", "Index", "AllPatient")
                    </li>
                    <li>
                        @Html.ActionLink("Add Patient", "Index", "PatientAdd")
                    </li>
                    <li>
                        @Html.ActionLink("Edit Patient", "Index", "PatientEdit")
                    </li>
                </ul>
            </li>
        }
        @if ((Model != null && Model.Level == ProjectTW.Domain.Enums.UserRole.Patient))
        {
            <li class="">
                <a href="@Url.Action("Index", "BookAppointment")">
                    <i class="fa fa-calendar-o"></i>
                    Appointment
                </a>
            </li>
        }
        @if (Model != null && Model.Level == ProjectTW.Domain.Enums.UserRole.Admin)
        {
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-bar-chart"></i>
                    <span class="title">Reports</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Hospital", "Index", "HospitalReports")
                    </li>
                </ul>
            </li>
        }
        @if (Model != null && Model.Level != ProjectTW.Domain.Enums.UserRole.Admin)
        {
            <li class="">
                <a href="@Url.Action("Index", "Events")">
                    <i class="fa fa-calendar"></i>
                    <span class="title">Event Management</span>
                </a>
            </li>
        }
        <li class="">
            <a href="@Url.Action("Index", "Profile")">
                <i class="fa fa-user"></i>
                Profile
            </a>
        </li>
    </ul>
</div>
<!-- MAIN MENU - END -->