@using System.Web.Optimization
@model ProjectTW.Web.Models.GlobalData

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>

        <div class='col-12'>
            <div class="page-title">

                <div class="float-left">
                    <!-- PAGE HEADING TAG - START --><h1 class="title">Edit Doctor</h1><!-- PAGE HEADING TAG - END -->
                </div>

                <div class="float-right d-none">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="hos-doctors.html">Doctors</a>
                        </li>
                        <li class="active">
                            <strong>Edit Doctor</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->

        <div class="col-xl-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title float-left">File Export</h2>
                    <div class="actions panel_actions float-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 padding-0">

                            <table id="example-11" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Speciality</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doctor in Model.DoctorList)
                                    {
                                        <tr id="doctor-row-@doctor.Id">
                                            @if (@doctor.ProfileImagePath != null)
                                            {
                                                <td><img src="@doctor.ProfileImagePath.Substring(1)" height="40" alt="user-image"></td>
                                            }
                                            else
                                            {
                                                <td><img src="~/ProfileImages/Default_ProfileImageSquare.png" height="40" alt="user-image"></td>
                                            }
                                            <td>@doctor.FullName</td>
                                            <td>@doctor.Speciality</td>
                                            <td><i class="fa fa-times-circle" style="cursor:pointer;color:red;" onclick="confirmDelete(@doctor.Id, document.getElementById('doctor-row-@doctor.Id'))"></i></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- MAIN CONTENT AREA ENDS -->
    </section>
</section>