@using System.Web.Optimization;
@model ProjectTW.Web.Models.GlobalData
<section class="wrapper main-wrapper row" style=''>

    <div class='col-12'>
        <div class="page-title">

            <div class="float-left">
                <!-- PAGE HEADING TAG - START --><h1 class="title">Profile</h1><!-- PAGE HEADING TAG - END -->
            </div>

            <div class="float-right d-none">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="hos-patients.html">Patients</a>
                    </li>
                    <li class="active">
                        <strong>Patient Profile</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->


    <div class="col-xl-12">
        <section class="box nobox ">
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="uprofile-image">
                            @if (Model != null && Model.ProfileImagePath != null)
                            {
                                <img alt="" src="@Model.ProfileImagePath.Substring(1)" class="img-fluid">
                            }
                            else
                            {
                                <img alt="" src="~/ProfileImages/Default_ProfileImage.png" class="img-fluid">
                            }
                        </div>
                        <div class="uprofile-name">
                            <h3>
                                <a href="#">@Html.DisplayFor(u => u.FullName)</a>
                                <!-- Available statuses: online, idle, busy, away and offline -->
                                <span class="uprofile-status online"></span>
                            </h3>
                            <p class="uprofile-title">
                                @if (Model.Level == ProjectTW.Domain.Enums.UserRole.Doctor)
                                {
                                    @Html.DisplayFor(u => u.Level);
                                    <span>:</span>
                                    @Html.DisplayFor(u => u.Speciality);
                                }
                                else
                                {
                                    @Html.DisplayFor(u => u.Level);
                                }
                            </p>
                        </div>
                        <div class="uprofile-info">
                            <ul class="list-unstyled">
                                <li><i class='fa fa-home'></i> New York, USA</li>
                                <li><i class='fa fa-user'></i> 340 Contacts</li>
                            </ul>
                        </div>
                        <div class="uprofile-buttons">
                            <a class="btn btn-md btn-primary">Send Message</a>
                            <a class="btn btn-md btn-primary">Add as Friend</a>
                        </div>

                        <div class=" uprofile-social">
                            <a href="#" class="btn btn-primary btn-md facebook"><i class="fa fa-facebook icon-xs"></i></a>
                            <a href="#" class="btn btn-primary btn-md twitter"><i class="fa fa-twitter icon-xs"></i></a>
                            <a href="#" class="btn btn-primary btn-md google-plus"><i class="fa fa-google-plus icon-xs"></i></a>
                            <a href="#" class="btn btn-primary btn-md dribbble"><i class="fa fa-dribbble icon-xs"></i></a>
                        </div>

                    </div>
                    <div class="col-lg-9 col-md-8 col-12">

                        <div class="uprofile-content">

                            <div class="">

                                <h4>Biography:</h4>
                                <p>@Html.DisplayFor(u => u.Biography)</p>
                                <div class="clearfix"></div>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- MAIN CONTENT AREA ENDS -->
</section>