@using ProjectTW.Domain.Entities.User
@model List<AppointmentsDbTable>

@if (Model != null && Model.Count > 0)
{
    <h2>Lista programărilor:</h2>
    <ul>
        @foreach (var appointment in Model)
        {
            <li>
                <strong>Programare ID:</strong> @appointment.Id <br />
                <strong>Doctor ID:</strong> @appointment.DoctorId <br />
                <strong>Patient ID:</strong> @appointment.PatientId <br />
                <strong>Data Programării:</strong> @appointment.AppointmentDate <br />
                <strong>Status Programare:</strong> @appointment.AppointmentStatus <br />
            </li>
        }

    </ul>
}
else
{
    <p>Nu există programări disponibile.</p>
}
